@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Profile */
.user-profile {
    background-color: #f9f9f9;
    padding: 60px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.user-profile h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.login-register-form {
    background-color: #f5f5f5;
    border: 2px solid #0074D9; 
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.form-toggle button {
    background-color: #FF5733; 
    border: 2px solid #fff; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    color: #fff; 
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif; 
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-toggle button:hover {
    background-color: #FF8C5A; 
    border-color: #FF5733;
}

.form-toggle button:first-child {
    margin-right: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s;
    font-family: 'Poppins', sans-serif;
}

.form-group label::after {
    content: '*';
    color: #FF5733;
    margin-left: 5px;
}

.form-group input:focus {
    border: 1px solid #FF5733;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #FF5733;
    border: 2px solid #FF5733;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

button[type="submit"]:hover {
    background-color: #FF5733;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-register-form {
        width: auto;
        max-width: none;
    }
}
